* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
background-image: url(imagens/background\ asus.jpg) ;
background-repeat: no-repeat;
}

.cabeca{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabeca-imagem{
    height: 72px;
}
.cabeca-menu{
    display: flex;
    gap: 32px;
}
.cabeca-menu-item{
    font-family: 'Roboto', sans-serif;
    color: rgb(240, 238, 235);
    font-weight: 400;
    font-size: 18px;
    
}
.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid rgb(240, 238, 235);
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex ;
    flex-direction: column;
    gap: 32px;

}

.conteudo-principal-escrito-nome-do-produto{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

.conteudo-principal-escrito-descrição-do-produto{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.conteudo-principal-butão{
    background-color: rgb(240, 238, 235);
    width: 200px;
    height: 75px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    color: black;
}

.conteudo-principal-butão:hover {
background-color: rgb(196, 117, 89);
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    background-color: rgb(240, 238, 235);
}

.conteudo-secundario-titulo{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: black;
}

.conteudo-secundario-caracteristicas{
font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.rodape-imagem{
    height: 300px;
}